<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
    <title>Objective Section</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
    <style type="text/css">
        .question-correct:after {
            content: "✓";
            font-size: 30px;
            color: green;
            padding-left: 10px;
        }

        .question-incorrect:after {
            content: "✗";
            font-size: 30px;
            color: red;
            padding-left: 10px;
        }
    </style>
	
	<link rel="stylesheet" type="text/css" href="../static/css/obj.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="w3-left active"><a href="{{ url_for('home') }}">Home</a>
                    <li role="presentation" class="w3-right active"><a href="{{ url_for('logout') }}">Sign Out</a>   
                </ul>
                
            </nav>
    </div>

    {% block page_title %}{{quiz['name']}} - Checking ({{correct}} / {{total}}){% endblock %}
    
    {% for question, choice in question_answer %}
        <div>
            <h4 {% if choice[1] %} class="question-correct" {% else %} class="question-incorrect" {% endif %}>{{question['text']|safe}}</h4>
            {% for answer in question['options'] %}
                <p {% if answer[1] %} class="question-correct" {% elif not answer[1] %} class="question-incorrect" {% endif %}>
                    {{answer[0]|safe}} {% if answer == choice %} - <strong> Chosen </strong> {% endif %}
                </p>
            {% endfor %}
        </div>
        {% if loop.revindex0 > 0 %}
            <hr />
        {% endif %}
    {% endfor %}
	
    <footer class="footer">
            <p>&copy;Palash_Chaturvedi 2019</p>
    </footer>
	
	<!-- <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-68528-29");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script> -->

</body>

</html>