<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	
    <title>Objective Section</title>
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/jumbotron-narrow.css" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="../static/css/obj.css" />
</head>

<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="w3-left active"><a href="{{ url_for('home') }}">Home</a>
                    <li role="presentation" class="w3-right active"><a href="{{ url_for('logout') }}">Sign Out</a>   
                </ul>
                
            </nav>
    </div>

    <form method="post" action="/check_quiz/{{id}}">
        <input type="hidden" name="ord" value="{{quiz_ordering}}" />

        {% for question in quiz['questions'] %}
            {% set outer_loop = loop %}
            <p>
                <h4>{{question['text']|safe}}</h4>
                {% for answer in question['options'] %}
                    <p><label><input type="radio" name="{{outer_loop.index0}}" value="{{loop.index0}}" /> {{answer[0]|safe}}</label></p>
                {% endfor %}
            </p>
        {% endfor %}
        <input type="submit" value="Submit Answers">
    </form>
	
    <footer class="footer">
            <p>&copy;Palash_Chaturvedi 2019</p>
    </footer>
	
	<!-- <script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	</script>
	<script type="text/javascript">
	var pageTracker = _gat._getTracker("UA-68528-29");
	pageTracker._initData();
	pageTracker._trackPageview();
	</script> -->

</body>

</html>